---
import MainLayout from '../layouts/MainLayout.astro';
import '../styles/global.css';
import News from '../public/images/News.jpg';

export interface Post {
  title: string;
  slug: string;
  date: string;
  description: string; 
}

const news: Array<any> = await Astro.glob('../content/news/*.md');
const FAQ: Array<any> = await Astro.glob('../content/FAQ/*.md');

---

<MainLayout title="Pragnamos Club">
	<main>
		<!-- News -->
		<div class="container mx-10 my-16">
			<h3 class="text-left font-bold text-4xl mb-1">
				News
			</h3>
			<div class="splide">
				<div class="splide__track py-8">
					<ul class="splide__list ">
						{
							news.map(({ frontmatter }) =>(
								<li class="splide__slide">
									<div class="max-w-md rounded-2xl shadow-xl bg-[#D9D9D9] border-gray-100">
										<img class="rounded-t-2xl max-w-md max-h-80" src={`../public/images/${frontmatter.image}`}>
										<div class="p-6">
											<h5 class="mb-1 text-2xl font-bold tracking-tight text-black">
												{frontmatter.title}
											</h5>
											<p class="mb-4 font-light text-xs text-stone-800">{frontmatter.date}</p>
											<p class="mb-4 font-medium text-stone-600">
												{frontmatter.description}
											</p>
											<a href={`${frontmatter.slug}`} class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-black rounded-lg transition duration-300 hover:bg-stone-600">
												Read more
												<svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
													<path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
												</svg>
											</a>
										</div>
									</div>
								</li>
							))
						}
					</ul>
				</div>
			</div>
		</div>

		<!-- Q&A -->
		<div class="container mx-10 my-16">
			<h3 class="mx-auto font-bold text-center text-4xl mb-1">
				Frequently Asked Questions
			</h3>
			<dl class="mt-8 mx-auto max-w-screen-sm lg:max-w-screen-lg flex flex-col lg:flex-row lg:flex-wrap ">
				
				{
					FAQ.map(({ frontmatter }) =>(
						<div class="lg:w-1/2">
							<div id="Q1" class="question-and-answer select-none cursor-pointer border-2 border-stone-400 mx-8 my-3 px-6 py-4 rounded-lg text-sm group bg-[#D9D9D9]">
								<dt class="question">
									<div class="flex justify-between">
										<div class="text-base font-semibold">
										{frontmatter.question}
										</div>
										<div>
											<svg fill=currentColor class="question-arrow group-hover:bg-gray-400 h-6 block bg-gray-300 rounded-full p-1 transition duration-300" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
												<g stroke="currentColor" stroke-width="1" fill=currentColor fill-rule="evenodd">
												<g>
												<polygon points="9.29289322 12.9497475 10 13.6568542 15.6568542 8 14.2426407 6.58578644 10 10.8284271 5.75735931 6.58578644 4.34314575 8"></polygon>
												</g>
												</g>
											</svg>
										</div>
									</div>
								</dt>
								<dd class="answer mt-2 leading-snug text-base font-medium text-stone-600 hidden">
									{frontmatter.answer}
								</dd>
							</div>
						</div>
					))
				}
			</dl>
		</div>
	</main>
</MainLayout>

<script>
	import "../scripts/script.js";
</script>

<!-- <style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style> -->
